<div class="row">
                      <div class="item-option-select">
                          <h6>Select Size</h6>
                            <select name="size" class="form-control">
                              <option value="small">Small</option>
                              <option value="medium">Medium</option>
                              <option value="large">Large</option>
                            </select>
                      </div>
                  </div> <!-- row.// -->